* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  min-height: 1600px;
  background: #000;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

section:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1400px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.3)), to(#000));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 80%, #000 100%);
  z-index: 100000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

#last {
  z-index: 10;
}

#text {
  position: relative;
  color: white;
  z-index: 2;
  font-size: 12em;
  text-align: center;
  padding-top: 205px;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-family: 'Caveat Brush', cursive;
}

.ab-text {
  padding: 50px 10%;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 40px;
  color: white;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.heading p {
  color: #9bacc4;
  font-size: 15px;
  line-height: 28px;
}

.conteiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 1.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.box {
  height: 320px;
  width: auto;
  border-radius: 10px;
  overflow: hidden;
  background: gray;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.3)), color-stop(75%, rgba(0, 0, 0, 0.7)), to(#000)), url(../img/01.jpg) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(../img/01.jpg) center center no-repeat;
  background-size: cover;
}

.box1:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.6;
}

.box2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.3)), color-stop(75%, rgba(0, 0, 0, 0.7)), to(#000)), url(../img/02.jpg) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(../img/02.jpg) center center no-repeat;
  background-size: cover;
}

.box2:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.6;
}

.box3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.3)), color-stop(75%, rgba(0, 0, 0, 0.7)), to(#000)), url(../img/03.jpg) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(../img/03.jpg) center center no-repeat;
  background-size: cover;
}

.box3:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.6;
}

.box4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.3)), color-stop(75%, rgba(0, 0, 0, 0.7)), to(#000)), url(../img/04.jpg) center center no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(../img/04.jpg) center center no-repeat;
  background-size: cover;
}

.box4:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.6;
}

.in {
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
}

.bottom {
  text-align: center;
  color: #adb5bd;
  padding-top: 150px;
  font-size: 14px;
  letter-spacing: 1px;
}
/*# sourceMappingURL=style.css.map */